

<main>
    <div class=wrap >
        <div class=blog-index>
            <div class=index-box>
            ブログの一覧
            </div>

            <div class=index-box>
            ブログの一覧
            </div>

            <div class=index-box>
            ブログの一覧
            </div>

            <div class=index-box>
            ブログの一覧
            </div>
        </div>
    </div>
</main>


