* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul,li {
    list-style-type: none;
}
// =======================

header {
    background-color: antiquewhite;
    width: 100%;
    height: auto;
    text-align: center;
}

.header-title {
    margin: auto;
}


.header-menu li{
    display: inline;
    margin-right: 5px;
}

main {
    background-color: aquamarine;
    height: 600px;
}

.wrap {
    max-width: 80%;
    margin: 0 auto;
    background-color: cornflowerblue;
}

.blog-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.index-box {
    height: 200px;
    width: 46%;
    margin: 10px 1%;
    background-color: oldlace;
}